<div class="thumbnail" (click)="onClick()">
  <div class="img-wrapper">
    <img src="{{product.imageSrc}}"/>
  </div>
  <div class="caption">
    <h4>{{product.name}}</h4>
    <div *ngIf="availableStock">
      <div class="quantity quantity-available">
        {{'Only ' + availableStock + ' left in stock'}}
      </div>
      <div class="price">
      {{ product.unitPrice | currency:'USD':true }}
      </div>
      <div class="action">
        <button 
          type="button" 
          class="btn btn-default btn-md hs-secondary"
          (click)="onAddToCart($event)"
        >
          <img src="../../../assets/imgs/icon-add-white.png" width="24"/> Quick Add
        </button>
      </div>
    </div>
    <div *ngIf="!availableStock">
      <div class="quantity quantity-out">
        Out of Stock
      </div>
      <div class="price">
        {{ product.unitPrice | currency:'USD':true }}
      </div>
      <div class="action">
        <button 
          type="button" 
          class="btn btn-disabled btn-md"
          disabled="disabled"
        >
          <img src="../../../assets/imgs/icon-add-white.png" width="24"/> Quick Add
      </button>
      </div>
    </div>
  </div>
</div>